[submodule "imgui"]
	path = libextern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lua"]
	path = libextern/lua
	url = https://github.com/lua/lua.git
	branch = v5.4.0
[submodule "sol2"]
	path = libextern/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "libwav"]
	path = libextern/libwav
	url = https://github.com/brglng/libwav.git
[submodule "libextern/ImFileDialog"]
	path = libextern/ImFileDialog
	url = https://github.com/dfranx/ImFileDialog
